.hero__wrapper {
  background-image: url('../img/bg1.jpeg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero {
    padding: 35rem 0;
}
.hero .img {
    width: 100%;
    max-width: 60%;
}


@media screen and (min-width: 1024px) {
    .hero {
        /* padding: 40rem 0; */
    }
}